.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 12rem;
    background-color: rgb(238, 237, 237, 0.3);
}

.title {
    display: inline-block;
    color: rgb(255,255,255);
    font-family: 'El Messiri', sans-serif;
    font-size: 3.2rem;
    
}

.subtitle {
    display: inline-block;
    color: rgb(225, 160, 129);
    font-family:'Poppins', sans-serif;
    font-size: 0.75rem;
}