.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 12rem;
    background-color: rgb(238, 237, 237, 0.2);
    min-height: 20vh;
}

.title {
    color: rgb(255,255,255);
    font-family: 'El Messiri', sans-serif;
    font-size: 2rem;
}

.subtitle {
    color: rgb(225, 160, 129, 0.75);
    font-family:'Poppins', sans-serif;
    font-size: 0.7rem;
    margin-bottom: 1.2rem
}

.startbtn {
    font-family:'Poppins', sans-serif;
    font-size: 0.7rem;
    color: rgb(255, 255, 255);
    background-color: rgb(193, 219, 217, 0.6);
    padding: 0.2rem 7rem;
    border: none; 
}